#root {
  width: 500px; height: 550px;
  text-align: center;
  align-items: center;
  border: 5px solid #313235;
  border-radius: 5px;
}

div {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

App {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin: auto;
  background: #515d82;
  width: 100px; height: 40px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover{
   cursor: pointer;
   border: 2px solid #313235;
 }

.btn h1 {
  font-size: 1em;
  display: inline-block;
}

.footer {
  position: relative;
  top: 35%;
  margin: auto;
  width: 60%;
}

.light.btn {
  background-color: rgba(255,255,255,0.5); /*Opaque white*/
  color: rgb(0,0,0);
}

.dark.btn {
  background-color: rgba(0,0,0,0.5); /*Opaque black*/
  color: rgb(255,255,255);
}
